---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import HomeSection from "@components/HomeSection.astro";
import ProjectsSection from "@components/ProjectsSection.astro";
import { Sections } from "@models/sections";
import Home from "@icons/section/Home.icon.astro";
import Projects from "@icons/section/Projects.icon.astro";
import About from "@icons/section/About.icon.astro";
import Contact from "@icons/section/Contact.icon.astro";

type NavCircle = {
	name: string;
	icon: any;
	href: Sections;
	class: string;
};

const scrollNavCircles: NavCircle[] = [
	{
		name: "Inicio",
		icon: Home,
		href: Sections.HOME,
		class: "top-7",
	},
	{
		name: "Proyectos",
		icon: Projects,
		href: Sections.PROJECTS,
		class: "top-[90px]",
	},
	{
		name: "Sobre mi",
		icon: About,
		href: Sections.ABOUT,
		class: "bottom-[90px]",
	},
	{
		name: "Contacto",
		icon: Contact,
		href: Sections.CONTACT,
		class: "bottom-7",
	},
];
---

<Layout title="Portfolio de Matias Gonta - Desarrollador y programador Web">
	<!-- ScrollNav -->
	<div id="scroll-nav" class="transition-right duration-300 fixed top-1/2 -translate-y-1/2 invisible opacity-0 h-0 -right-5">
		<div class="relative w-[125px] flex flex-col justify-center items-center">
			<div class="w-[2px] h-[275px] bg-white rounded-lg"></div>
			{
				scrollNavCircles.map((circle) => (
					<a
						href={`#${circle.href}`}
						class={`group transition-width duration-200 text-nowrap absolute ${circle.class} size-[35px] rounded-full text-primary-light bg-white border border-[#ccc] flex justify-center items-center hover:w-auto hover:px-2.5 hover:right-11`}
					>
						<div>
							<circle.icon />
						</div>
						<div class="size-0 invisible opacity-0 group-hover:size-auto group-hover:visible group-hover:opacity-100 group-hover:ml-1">
							<span>{circle.name}</span>
						</div>
					</a>
				))
			}
		</div>
	</div>

	<main class="mx-auto w-full text-white text-[16px] leading-normal">
		<Header />

		<section id={Sections.HOME} class="w-full h-auto max-w-[800px] mx-auto">
			<HomeSection />
		</section>

		<section id={Sections.PROJECTS} class="w-full h-auto max-w-[800px] mx-auto my-[200px]">
			<ProjectsSection />
		</section>

		<section id={Sections.ABOUT} class="w-full h-auto max-w-[800px] mx-auto my-[200px]">
		</section>

		<section id={Sections.CONTACT} class="w-full h-auto max-w-[800px] mx-auto my-[200px]">
		</section>
	</main>
</Layout>

<script>
	import { Sections } from "@models/sections";

	type SectionRefs = {
		[key in Sections]: HTMLElement;
	}

	// ScrollNav
	const scrollNav = document.getElementById("scroll-nav")!;

	// Sections
	const sections: SectionRefs = {
		home: document.getElementById(Sections.HOME)!,
		projects: document.getElementById(Sections.PROJECTS)!,
		about: document.getElementById(Sections.ABOUT)!,
		contact: document.getElementById(Sections.CONTACT)!
	}

	let scrollPositionBeforeHashChange = 0;

	const handleObserver = (entries: IntersectionObserverEntry[]) => {
		entries.forEach((entry: IntersectionObserverEntry) => {
			let sectionView = entry.target.id;

			// Storage scrollY position before hash change
			scrollPositionBeforeHashChange = window.scrollY;

			// Change URL hash only if section is completely in view
			if (entry.isIntersecting) {
        		window.location.hash = sectionView;
				window.scrollTo(0, scrollPositionBeforeHashChange);
      		}

			// Handle visibility of scrollNav
			if (window.scrollY < 350) {
				scrollNav.classList.remove("visible","opacity-100","h-auto","right-2",);
				scrollNav.classList.add("invisible","opacity-0","h-0","-right-5",);
			} else {
				scrollNav.classList.add("visible","opacity-100","h-auto","right-2",);
				scrollNav.classList.remove("invisible","opacity-0","h-0","-right-5",);
			}

			// Handle scrollNav circle active
			const scrollNavCircle = document.querySelector(`a[href="#${sectionView}"]`)!;

			if (entry.isIntersecting) {
				scrollNavCircle.classList.remove("text-primary-light");
				scrollNavCircle.classList.add("text-primary");
			} else {
				scrollNavCircle.classList.remove("text-primary");
				scrollNavCircle.classList.add("text-primary-light");
			}
		});
	};
	const sectionObservator = new IntersectionObserver(handleObserver, {
		threshold: 0.15,
	});

  	// Observe each section
  	for (const section in sections) {
		sectionObservator.observe(sections[section as keyof SectionRefs]);
  	}
</script>