---
import TechNav from "./TechNav.astro";
import ProjectsIcon from "@icons/section/Projects.icon.astro";
import JavaScriptIcon from "@icons/tech/JavaScript.icon.astro";
import TypeScriptIcon from "@icons/tech/TypeScript.icon.astro";
import AstroIcon from "@icons/tech/Astro.icon.astro";
import TailwindIcon from "@icons/tech/Tailwind.icon.astro";
import NodeJSIcon from "@icons/tech/NodeJS.icon.astro";
import ExpressIcon from "@icons/tech/Express.icon.astro";
import MongoDBIcon from "@icons/tech/MongoDB.icon.astro";
import ReactIcon from "@icons/tech/React.icon.astro";
import ReduxIcon from "@icons/tech/Redux.icon.astro";
import NextjsIcon from "@icons/tech/Nextjs.icon.astro";
import HtmlIcon from "@icons/tech/Html.icon.astro";
import CssIcon from "@icons/tech/Css.icon.astro";
import SassIcon from "@icons/tech/Sass.icon.astro";
import GitHubIcon from "@icons/social/GitHub.icon.astro";
import YoutubeIcon from "@icons/social/Youtube.icon.astro";
import Badge from "./Badge.astro";
import { Technologies } from "@models/technologies";

const projects = [
    {
        name: "CECLA 6626",
        description: '"CECLA 6626" es una versión modernizada del sitio web existente del Centro de Formación Laboral 6626, Brigadier General Estanislao López (CECLA 6626), aprovechando Astro y Tailwind para mejorar tanto la experiencia del usuario (UX) como la interfaz del usuario (UI).',
        img: {
            src: "/public/assets/projectMockups/CECLA6626-mockup.png",
            alt: "CECLA6626-mockup",
        },
        reviewUrl: "https://www.youtube.com/watch?v=JaWBVzGBzH8",
        repositoryUrl: "https://github.com/MatiasGonta/CECLA-6626",
        technologies: [
            { name: Technologies.TYPESCRIPT, class: "hover:text-typescript", icon: TypeScriptIcon },
            { name: Technologies.ASTRO, class: "hover:text-astro", icon: AstroIcon },
            { name: Technologies.TAILWIND, class: "hover:text-tailwindcss", icon: TailwindIcon },
        ],
    },
    {
        name: "Sabrina",
        description: 'Sabrina es un ecommerce full-stack de ropa. Cuenta con 25 páginas, como Inicio, ProductsPage con catálogo de productos, CartPage y un Dashboard al que solo pueden acceder los administradores a diversas estadísticas, tablas de pedidos, productos y usuarios, permitiendoles realizar operaciones como eliminación, actualización y creación (CRUD).',
        img: {
            src: "/public/assets/projectMockups/sabrina-mockup.png",
            alt: "sabrina-mockup",
        },
        reviewUrl: "https://www.youtube.com/watch?v=NwSAmoBntyc",
        repositoryUrl: "https://github.com/MatiasGonta/sabrina-ecommerce-fullstack-app",
        technologies: [
            { name: Technologies.NODE, class: "hover:text-node", icon: NodeJSIcon },
            { name: Technologies.EXPRESS, class: "hover:text-express", icon: ExpressIcon },
            { name: Technologies.MONGODB, class: "hover:text-mongodb", icon: MongoDBIcon },
            { name: Technologies.TYPESCRIPT, class: "hover:text-typescript", icon: TypeScriptIcon },
            { name: Technologies.REACT, class: "hover:text-react", icon: ReactIcon },
            { name: Technologies.REDUX, class: "hover:text-redux", icon: ReduxIcon },
            { name: Technologies.SASS, class: "hover:text-sass", icon: SassIcon },
        ],
    },
    {
        name: "Sunshine Weather",
        description: 'Sunshine Weather es una aplicación web que proporciona información meteorológica para cualquier lugar del mundo. Los usuarios pueden buscar fácilmente una ciudad o país y obtener actualizaciones meteorológicas en tiempo real, incluida la temperatura, la humedad, la velocidad del viento y una descripción.',
        img: {
            src: "/public/assets/projectMockups/sunshine-weather-mockup.png",
            alt: "sunshine-weather-mockup",
        },
        reviewUrl: "",
        repositoryUrl: "https://github.com/MatiasGonta/sunshine-weather-react-ts-sass",
        technologies: [
            { name: Technologies.TYPESCRIPT, class: "hover:text-typescript", icon: TypeScriptIcon },
            { name: Technologies.REACT, class: "hover:text-react", icon: ReactIcon },
            { name: Technologies.SASS, class: "hover:text-sass", icon: SassIcon },
        ],
    },
    {
        name: "The Exchange Corner",
        description: 'Exchange Corner es una aplicación web que ofrece conversión de moneda y obtención de tipos de cambio históricos. Los usuarios pueden realizar conversiones de divisas, explorar tipos de cambio históricos y agregar sus pares de divisas favoritos.',
        img: {
            src: "/public/assets/projectMockups/the-exchange-corner-mockup.png",
            alt: "the-exchange-corner-mockup",
        },
        reviewUrl: "https://www.youtube.com/watch?v=CRLlMPW1qUM",
        repositoryUrl: "https://github.com/MatiasGonta/the-exchange-corner",
        technologies: [
            { name: Technologies.TYPESCRIPT, class: "hover:text-typescript", icon: TypeScriptIcon },
            { name: Technologies.REACT, class: "hover:text-react", icon: ReactIcon },
            { name: Technologies.NEXTJS, class: "hover:text-nextjs", icon: NextjsIcon },
            { name: Technologies.TAILWIND, class: "hover:text-tailwindcss", icon: TailwindIcon },
        ],
    },
    {
        name: "Puzzle Home",
        description: 'Puzzle Home es una página web que ofrece una colección de rompecabezas para que los usuarios disfruten y desafíen sus habilidades de resolución. El proyecto se desarrolla utilizando React con TypeScript y utiliza varias bibliotecas y herramientas populares para brindar una experiencia de usuario fluida y atractiva.',
        img: {
            src: "/public/assets/projectMockups/puzzle-home-mockup.png",
            alt: "puzzle-home-mockup",
        },
        reviewUrl: "https://www.youtube.com/watch?v=4hoPhppO8EE",
        repositoryUrl: "https://github.com/MatiasGonta/puzzle-home-react-ts-sass",
        technologies: [
            { name: Technologies.TYPESCRIPT, class: "hover:text-typescript", icon: TypeScriptIcon },
            { name: Technologies.REACT, class: "hover:text-react", icon: ReactIcon },
            { name: Technologies.SASS, class: "hover:text-sass", icon: SassIcon },
        ],
    },
    {
        name: "minDDraw",
        description: 'minDDraw es un sitio web de dibujo similar a Microsoft Paint, que permite a los usuarios dar rienda suelta a su creatividad y crear obras de arte digitales.',
        img: {
            src: "/public/assets/projectMockups/minDDraw-mockup.png",
            alt: "minDDraw-mockup",
        },
        reviewUrl: "https://www.youtube.com/watch?v=yS0JPU53X7o",
        repositoryUrl: "https://github.com/MatiasGonta/minDDraw-html-css-js",
        technologies: [
            { name: Technologies.HTML, class: "hover:text-html", icon: HtmlIcon },
            { name: Technologies.CSS, class: "hover:text-css", icon: CssIcon },
            { name: Technologies.JAVASCRIPT, class: "hover:text-javascript", icon: JavaScriptIcon },
        ],
    },
    {
        name: "Tech Flip",
        description: 'Tech Flip es un juego de combinación de tarjetas de memoria basado en la temática de los lenguajes de programación. Proporciona una interfaz sencilla donde los usuarios pueden poner a prueba sus habilidades de memoria volteando cartas y haciendo coincidir pares.',
        img: {
            src: "/public/assets/projectMockups/tech-flip-mockup.png",
            alt: "tech-flip-mockup",
        },
        reviewUrl: "",
        repositoryUrl: "https://github.com/MatiasGonta/tech-flip-game-html-css-js",
        technologies: [
            { name: Technologies.HTML, class: "hover:text-html", icon: HtmlIcon },
            { name: Technologies.CSS, class: "hover:text-css", icon: CssIcon },
            { name: Technologies.JAVASCRIPT, class: "hover:text-javascript", icon: JavaScriptIcon },
        ],
    },
];

// Number check
const isEven = (number: number) => number % 2 === 0;
---

<article>
    <div class="text-[25px] flex items-center">
        <div class="text-primary">
            <ProjectsIcon />
        </div>
        <h2 class="ml-3">Proyectos</h2>
    </div>
    <div class="my-8">
        <TechNav />
    </div>
    <div class="relative w-full flex justify-center pt-[50px]">
        <div class="hidden absolute bg-white w-0.5 h-full rounded-lg min-[800px]:block"></div>
        <ul class="w-full flex flex-col gap-32">
            {
                projects.map((project, index) => (
                    <li class={`card group relative overflow-visible w-[375px] ${isEven(index) ? "self-start" : "self-end"}`}>
                        <div class={`hidden absolute size-5 bg-white border border-[#ccc] rounded-full min-[800px]:block ${isEven(index) ? "-right-[35px]" : "-left-[35px]"}`}></div>
                        <div class="mb-5">
                            <h3 class="text-primary font-semibold text-[18px] mb-2">{project.name}</h3>
                            <ul class="flex flex-wrap gap-3">
                                {
                                    project.technologies.map((tech) => (
                                        <li class="w-fit">
                                            <Badge name={tech.name} icon={tech.icon} href={project.repositoryUrl} customClass="size-3.5" />
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                        <div class="content w-full h-[250px] transition-transform duration-300 shadow-[0px_0px_10px_1px_#000000ee] rounded">
                            <div class="back bg-[#151515] absolute size-full rounded overflow-hidden flex justify-center items-center before:absolute before:content-[' '] before:block before:w-[200px] before:h-[190%] before:bg-[linear-gradient(90deg,transparent,#fff,#fff,#fff,#fff,transparent)] before:animate-rotation">
                                <div class="back-content relative w-[99%] h-[99%] rounded flex justify-center items-center">
                                    <img
                                        src={project.img.src}
                                        alt={project.img.alt}
                                        class="size-full"
                                    />
                                </div>
                            </div>
                            <div class="front bg-[#151515] absolute size-full overflow-hidden">
                                <div class="absolute size-full object-cover object-center">
                                    {/* Background circles */}
                                    <div class="size-[90px] rounded-full bg-primary-light relative blur-[15px] animate-floating" />
                                    <div class="size-[30px] rounded-full bg-primary relative blur-[15px] animate-floating left-[160px] top-[-80px] delay-[-1800ms]" />
                                    <div class="size-[150px] rounded-full bg-[rgb(120,135,150)] relative blur-[15px] animate-floating left-[170px] top-0 -delay-700" />
                                </div>

                                <div class="absolute size-full p-5 flex justify-between">
                                    <div class="size-full flex justify-between items-cente max-w-[75px]">
                                        <ul class="flex flex-wrap flex-col gap-5 h-[210px]">
                                            {project.technologies.map(
                                                (tech) => (
                                                    <li
                                                        class={`transition-all duration-300 size-6 hidden group-hover:block ${tech.class}`}
                                                    >
                                                        <tech.icon />
                                                    </li>
                                                ),
                                            )}
                                        </ul>
                                    </div>
                                    <div class="flex flex-col justify-between w-[240px]">
                                        <div>
                                            <p class="text-[12px] text-pretty">{project.description}</p>
                                        </div>
                                        <div class="size-fit self-end flex gap-3 items-center">
                                            <a
                                                href={project.reviewUrl}
                                                target="_blank"
                                                class="transition-all duration-300 flex gap-2 items-center p-1.5 bg-black border-2 border-black rounded-md text-[12px] text-white hover:bg-white hover:text-[#ff0000] hover:border-[#ff0000]"
                                            >
                                                <div class="relative size-4">
                                                    <YoutubeIcon />
                                                </div>
                                                <span class="text-nowrap mt-px">Ver review</span>
                                            </a>
                                            <a
                                                href={project.repositoryUrl}
                                                target="_blank"
                                                class="transition-all duration-300 flex gap-2 items-center p-1.5 bg-black border-2 border-black rounded-md text-[12px] text-white hover:bg-white hover:text-black"
                                            >
                                                <div class="relative size-4">
                                                    <GitHubIcon />
                                                </div>
                                                <span class="text-nowrap mt-px">Ver repositorio</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</article>

<style>
    .content {
        transform-style: preserve-3d;
    }
    .front,
    .back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .card:hover .content {
        transform: rotateY(180deg);
    }
    .front {
        transform: rotateY(180deg);
    }
</style>